{% if page.is_amp %}
<p class="text-center">Mohon maaf, fitur ini tidak tersedia di versi AMP. Silahkan klik tombol di bawah untuk masuk ke versi asli.</p>
<p class="text-center"><a class='btn block' href="{{ page.url | remove: '/amp/' | relative_url }}" title="Buka Versi Asli">Buka Versi Asli</a></p>
{% else %}
<div class="text-to-mp3">
<h2>Text to MP3 Converter 🎙️</h2>
<label for="textInput">Enter Text:</label>
<textarea id="textInput" placeholder="Type your text here..."></textarea>
<label for="languageSelect">Choose Language:</label>
<select id="languageSelect">
<option value='ar-eg'>Arabic (Egypt)</option>
<option value='ar-sa'>Arabic (Saudi Arabia)</option>
<option value='bg-bg'>Bulgarian</option>
<option value='ca-es'>Catalan</option>
<option value='zh-cn'>Chinese (China)</option>
<option value='zh-hk'>Chinese (Hong Kong)</option>
<option value='zh-tw'>Chinese (Taiwan)</option>
<option value='hr-hr'>Croatian</option>
<option value='cs-cz'>Czech</option>
<option value='da-dk'>Danish</option>
<option value='nl-be'>Dutch (Belgium)</option>
<option value='nl-nl'>Dutch (Netherlands)</option>
<option value='en-au'>English (Australia)</option>
<option value='en-ca'>English (Canada)</option>
<option value='en-gb'>English (Great Britain)</option>
<option value='en-in'>English (India)</option>
<option value='en-ie'>English (Ireland)</option>
<option value='en-us'>English (United States)</option>
<option value='fi-fi'>Finnish</option>
<option value='fr-ca'>French (Canada)</option>
<option value='fr-fr'>French (France)</option>
<option value='fr-ch'>French (Switzerland)</option>
<option value='de-at'>German (Austria)</option>
<option value='de-de'>German (Germany)</option>
<option value='de-ch'>German (Switzerland)</option>
<option value='el-gr'>Greek</option>
<option value='he-il'>Hebrew</option>
<option value='hi-in'>Hindi</option>
<option value='hu-hu'>Hungarian</option>
<option value='id-id' selected>Indonesian</option>
<option value='it-it'>Italian</option>
<option value='ja-jp'>Japanese</option>
<option value='ko-kr'>Korean</option>
<option value='ms-my'>Malay</option>
<option value='nb-no'>Norwegian</option>
<option value='pl-pl'>Polish</option>
<option value='pt-br'>Portuguese (Brazil)</option>
<option value='pt-pt'>Portuguese (Portugal)</option>
<option value='ro-ro'>Romanian</option>
<option value='ru-ru'>Russian</option>
<option value='sk-sk'>Slovak</option>
<option value='sl-si'>Slovenian</option>
<option value='es-mx'>Spanish (Mexico)</option>
<option value='es-es'>Spanish (Spain)</option>
<option value='sv-se'>Swedish</option>
<option value='ta-in'>Tamil</option>
<option value='th-th'>Thai</option>
<option value='tr-tr'>Turkish</option>
<option value='vi-vn'>Vietnamese</option></select>
<label for="genderSelect">Choose Gender:</label>
<select id="genderSelect">
<option value="male" selected>Male</option>
<option value="female">Female</option>
</select>
<label for="voiceSelect">Choose Voice:</label>
<select id="voiceSelect"></select>
<label for="speedRange">Set Speed (50% - 150%):</label>
<div class="range-container">
<input type="range" id="speedRange" min="50" max="150" value="100">
<span id="speedValue">100%</span>
</div>
<label for="codecSelect">Choose Output:</label>
<select id="codecSelect">
<option value="MP3" selected>MP3</option>
<option value="WAV">WAV</option>
<option value="AAC">AAC</option>
<option value="OGG">OGG</option>
<option value="CAF">CAF</option>
</select>
<label for="formatSelect">Choose Format:</label>
<select id="formatSelect">
<option value='Audio format code'>Audio format description</option>
<option value='8khz_8bit_mono'>8 kHz, 8 Bit, Mono</option>
<option value='8khz_8bit_stereo'>8 kHz, 8 Bit, Stereo</option>
<option value='8khz_16bit_mono'>8 kHz, 16 Bit, Mono</option>
<option value='8khz_16bit_stereo'>8 kHz, 16 Bit, Stereo</option>
<option value='11khz_8bit_mono'>11 kHz, 8 Bit, Mono</option>
<option value='11khz_8bit_stereo'>11 kHz, 8 Bit, Stereo</option>
<option value='11khz_16bit_mono'>11 kHz, 16 Bit, Mono</option>
<option value='11khz_16bit_stereo'>11 kHz, 16 Bit, Stereo</option>
<option value='12khz_8bit_mono'>12 kHz, 8 Bit, Mono</option>
<option value='12khz_8bit_stereo'>12 kHz, 8 Bit, Stereo</option>
<option value='12khz_16bit_mono'>12 kHz, 16 Bit, Mono</option>
<option value='12khz_16bit_stereo'>12 kHz, 16 Bit, Stereo</option>
<option value='16khz_8bit_mono'>16 kHz, 8 Bit, Mono</option>
<option value='16khz_8bit_stereo'>16 kHz, 8 Bit, Stereo</option>
<option value='16khz_16bit_mono'>16 kHz, 16 Bit, Mono</option>
<option value='16khz_16bit_stereo' selected>16 kHz, 16 Bit, Stereo</option>
<option value='22khz_8bit_mono'>22 kHz, 8 Bit, Mono</option>
<option value='22khz_8bit_stereo'>22 kHz, 8 Bit, Stereo</option>
<option value='22khz_16bit_mono'>22 kHz, 16 Bit, Mono</option>
<option value='22khz_16bit_stereo'>22 kHz, 16 Bit, Stereo</option>
<option value='24khz_8bit_mono'>24 kHz, 8 Bit, Mono</option>
<option value='24khz_8bit_stereo'>24 kHz, 8 Bit, Stereo</option>
<option value='24khz_16bit_mono'>24 kHz, 16 Bit, Mono</option>
<option value='24khz_16bit_stereo'>24 kHz, 16 Bit, Stereo</option>
<option value='32khz_8bit_mono'>32 kHz, 8 Bit, Mono</option>
<option value='32khz_8bit_stereo'>32 kHz, 8 Bit, Stereo</option>
<option value='32khz_16bit_mono'>32 kHz, 16 Bit, Mono</option>
<option value='32khz_16bit_stereo'>32 kHz, 16 Bit, Stereo</option>
<option value='44khz_8bit_mono'>44 kHz, 8 Bit, Mono</option>
<option value='44khz_8bit_stereo'>44 kHz, 8 Bit, Stereo</option>
<option value='44khz_16bit_mono'>44 kHz, 16 Bit, Mono</option>
<option value='44khz_16bit_stereo'>44 kHz, 16 Bit, Stereo</option>
<option value='48khz_8bit_mono'>48 kHz, 8 Bit, Mono</option>
<option value='48khz_8bit_stereo'>48 kHz, 8 Bit, Stereo</option>
<option value='48khz_16bit_mono'>48 kHz, 16 Bit, Mono</option>
<option value='48khz_16bit_stereo'>48 kHz, 16 Bit, Stereo</option>
<option value='alaw_8khz_mono'>ALaw, 8 kHz, Mono</option>
<option value='alaw_8khz_stereo'>ALaw, 8 kHz, Stereo</option>
<option value='alaw_11khz_mono'>ALaw, 11 kHz, Mono</option>
<option value='alaw_11khz_stereo'>ALaw, 11 kHz, Stereo</option>
<option value='alaw_22khz_mono'>ALaw, 22 kHz, Mono</option>
<option value='alaw_22khz_stereo'>ALaw, 22 kHz, Stereo</option>
<option value='alaw_44khz_mono'>ALaw, 44 kHz, Mono</option>
<option value='alaw_44khz_stereo'>ALaw, 44 kHz, Stereo</option>
<option value='ulaw_8khz_mono'>uLaw, 8 kHz, Mono</option>
<option value='ulaw_8khz_stereo'>uLaw, 8 kHz, Stereo</option>
<option value='ulaw_11khz_mono'>uLaw, 11 kHz, Mono</option>
<option value='ulaw_11khz_stereo'>uLaw, 11 kHz, Stereo</option>
<option value='ulaw_22khz_mono'>uLaw, 22 kHz, Mono</option>
<option value='ulaw_22khz_stereo'>uLaw, 22 kHz, Stereo</option>
<option value='ulaw_44khz_mono'>uLaw, 44 kHz, Mono</option>
<option value='ulaw_44khz_stereo'>uLaw, 44 kHz, Stereo</option>
</select>
<button class="btn block" onclick="convertTextToMP3()">Convert & Play Preview</button>
<div id="previewContainer" hidden>
<audio id="audioPreview" controls></audio>
<button class="btn download block" hidden id='downloadButton' onclick="downloadMP3()">Download</button>
</div>
</div>
{% endif %}