<footer aria-label='Credit Section' id='credit-wrapper' itemscope itemtype='https://schema.org/WPFooter' class="sidebar-footer">
<meta content='#credit-wrapper' itemprop='cssSelector'>
<p>
<span itemprop='copyrightYear'>2023-{{ site.time | date: "%Y" }}</span> © 
<span itemscope itemtype='https://schema.org/Organization'>
<a href='{{ site.url }}' itemprop='url' title='{{ site.title }}'>
<span itemprop='name'>{{ site.author }}</span>
</a>.
</span>
</p>
<p>
<span itemprop='copyrightNotice'>Hak Cipta Dilindungi.</span>
</p>
</footer>
