<p class="text-center">Iklan</p>
<div itemscope itemtype='https://schema.org/WPAdblock' class='ads text-center' id="sidebar-ads">
<meta content='#sidebar-ads' itemprop='cssSelector'>
{% if page.is_amp %}
<amp-ad width="100vw" height="320" type="adsense" data-ad-client="ca-pub-4951061355072034" data-ad-slot="1314251550" data-auto-format="mcrspv" data-full-width=""><div overflow=""></div></amp-ad>
{% else %}
<div class="ads text-center">{% include ads/hilltopads-banner.js %}</div>
<!--<div class="adsterra-300x250-banner-ad ads text-center"><script>
	atOptions = {
		'key' : '6a0bf86bb4a27e1fdf72b88f3b82befc',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};</script>
<script src="//www.highperformanceformat.com/6a0bf86bb4a27e1fdf72b88f3b82befc/invoke.js"></script></div>
<div class="a-ads-300x250-banner-ad ads text-center"></div>
<iframe class="lazy" data-aa='2393358' data-src="//ad.a-ads.com/2393358?size=300x250" style='width:300px; height:250px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
<div class="yllix-300x250-banner-ad ads text-center" id="yllix-300x250-banner-ad"></div>
<div class="evadav-native-one-column-ad ads text-center"></div>
<div class='clickadilla-300x250-banner-ad ads text-center' data-banner-id="1447384"></div>
<ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-4951061355072034" data-ad-slot="1314251550"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
<div class="monetag-inpage-push-ad ads text-center"></div>-->
{% endif %}
</div>