<p class="text-center">Iklan</p>
<div itemscope itemtype='https://schema.org/WPAdblock' class='ads text-center' id="sidebar-ads">
<meta content='#sidebar-ads' itemprop='cssSelector'>
{% if page.is_amp %}
<amp-ad width="100vw" height="320" type="adsense" data-ad-client="ca-pub-4951061355072034" data-ad-slot="1314251550" data-auto-format="mcrspv" data-full-width=""><div overflow=""></div></amp-ad>
{% else %}
<ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-4951061355072034" data-ad-slot="1314251550"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
<script>
    (function(udxpl){
    var d = document,
        s = d.createElement('script'),
        l = d.scripts[d.scripts.length - 1];
    s.settings = udxpl || {};
    s.src = "\/\/mediocrebrilliant.com\/bXX.VnsCd\/GJlz0lYzWDcq\/cenmT9\/uDZgU\/lKk\/PTTTY\/zYMuDJEKyDMmzvIvtrNXjsM\/wPMlT\/I\/zvM\/ws";
    s.async = true;
    s.referrerPolicy = 'no-referrer-when-downgrade';
    l.parentNode.insertBefore(s, l);
    })({})
    </script>
    <div class="yllix-300x250-banner-ad ads text-center" id="yllix-300x250-banner-ad"></div>
    <div class="evadav-native-one-column-ad ads text-center"></div>
    <div class='clickadilla-300x250-banner-ad ads text-center' data-banner-id="1447384"></div>
{% endif %}
</div>